.contact {
  padding: 0px 16px;
  background: $listitem;
  &__box {
    padding: 64px 16px 88px 16px;
  }
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: $h1color;
    margin: 0 0 32px;
  }
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: $pcolor;
  }
  &__links {
    text-align: center;
  }
  &__mail {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    background: $skillsbg;
    color: #fff;
    border-radius: 64px;
    padding: 4px 24px;
    display: inline-block;
    margin: 0 auto;
  }
}
