.contact {
  padding: 0px 16px;
  background: $listitem;
  &__box {
    padding: 64px 16px 88px 16px;
  }
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: $pcolor;
    @media (min-width: $desktop) {
        font-size: 20px;
        line-height: 40px;
      }
  }
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: $h1color;
    margin: 0 0 32px;
    @media (min-width: $desktop) {
        font-size: 48px;
        line-height: 56px;
      }
  }
  &__links {
    text-align: center;
    @media (min-width: $desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 640px;
        margin: 128px auto 0;
       }
    &__description {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: $pcolor;
        
      }
  }
  &__mail {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    background: $skillsbg;
    color: #fff;
    border-radius: 64px;
    padding: 4px 24px;
    
  }
}
