$bg: #E5E5E5;
$h1color: #234361;
$pcolor: #425A70;
$pspecial: #4DA8FF;
$skillsbg: #1070CA;
$listitem: #DBEAF7;
$github: #212528;
$topBar: #1E1E1E;
$circle: #464A4D;
$console: #808082;
$lightConsole: #A3A3A3;
$linkConsole: #14B5D0;

$tablet: 768px;
$desktop: 960px;